body {
    background-color: black;
    margin: 100pt 50pt 150pt 50pt;
    width: 600px;
    height: 800px;
    
    .grid-container {
        display: grid;
        grid-template-columns: 250pt 50pt 200pt;
        grid-template-rows: 50pt 50pt 50pt 100pt 150pt 150pt;
        grid-gap: 0pt;
    }

    .item1 {
        grid-column: 1;
        grid-row: 1;
        line-height: 27pt;
        align-self: center;

        .top-message1 {
            color: white;
            font-family: 'Futura Lt BT';
            font-size: 23pt;
            letter-spacing: 0.45pt;
        }

        .top-message2 {
            font-family: 'Futura';
            font-size: 23pt;
            letter-spacing: 7pt;
            background: linear-gradient(to right, #4D4D4D, #FFFFFF);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }

    .item2 {
        grid-column: 2/3;
        grid-row: 1;
    }

    .item3 {
        grid-column: 1/3;
        grid-row: 2;
    }

    .item4 {
        grid-column: 1/3;
        grid-row: 3;
        align-self: end;
        

        .body-message1 {
            color: white;
            font-family: 'Futura';
            font-size: 27pt;
        }
    }

    .item6{
        grid-column: 1/3;
        grid-row: 4;
        line-height: 100pt;

        .body-message2 {
            color: red;
            font-family: 'Helvetica';
            font-weight: bold;
            font-size: 126pt;
            letter-spacing: -5pt;
                    
            span {
                -webkit-text-fill-color: black;
                -webkit-text-stroke-width:2pt;
                -webkit-text-stroke-color: red;
                letter-spacing: -5pt;
            }
        }
    }
    .item7 {
        grid-column: 1/3;
        grid-row: 5;
    }

    .item8 {
        grid-column: 1/3;
        grid-row: 6;
        align-self: center;
                
        .bot-message1 {
            color: white;
            font-family: 'Helvetica';
            font-weight: normal;
            font-size: 39.5pt;
            text-align: right;
            /*span {
                font-weight: bold;
                font-size: 45pt;
            }*/
        }
    }

    .item9 {
        grid-column: 3;
        grid-row: 6;
        align-self: center;
        
        .bot-message2 {
            color: white;
            font-family: 'Helvetica';
            font-weight: bold;
            font-size: 44pt;
            text-align: right;
        }
    }
}